<header>
  <div class="mt-4">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">NVLibrary</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Kirjasto</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/feedback">Feedback</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/language">Language</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle active" href="/" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">My library</a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/cat">My Books</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/cat/addnew">Add new book</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/message">Message</a>
              </div>
            </li>
          </ul>
        </div>
      </nav>
  </div>
</header>
